<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Forgot password</title>
</head>

<body style="background-color: #f4f5fa">


    <div class="completeblog" style="justify-content:center"></div>
    <div class="CreateUserHeading" style="margin-left: 150px;margin-top:80px">
        <label for="userForm">
            <h2>JordenSky-Admin</h2>
        <p><strong>Forgot Password</strong></p>
        </label>
    </div>


    <div class="mainForm shadow-sm" style="margin-top:10px;margin-left:150px;width:50%;padding:20px;background-color:white;border-radius:5px" id="userForm">
        <form name="form" method="post">
            {% if messages %}
            <!-- {% for message in messages %} -->
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            <!-- {% endfor %} -->
            {% endif %} {% csrf_token %}
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="username" placeholder="User Name">
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="display: flex;justify-content:flex-end"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>