$accordion-border-width: none;
.col-2 {
    margin-left: 0px;
}

.form {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent {
    position: relative;
    width: auto;
    height: 550px;
    color: black;
    text-align: center;
}

.child_1 {
    width: 100%;
    height: 250px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.child_3,
.child_2 {
    width: 100%;
    height: 125px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}